.DS_Store
.dafny/*
!.dafny/dafny-source
.vscode/
bin/
**/*.cs
**/*.csproj
**/*.dll
**/*.pdb
**/*.deps.json
obj/
symbol_index.db
symbol_index.db-wal
symbol_index.db-shm
*.csv
*.log

__pycache__
TestResults
